
<div class="toolbar" role="banner">
  <div id="LeftNav">
    <button mat-raised-button style="margin: 5px; background-color: #2b78fe"><mat-icon>border_all</mat-icon>Windows 10</button>
  </div>
  <div id="MiddleNav">
    <img id="AppLogo" src="../assets/icons/GiaSuLogo.svg">
  </div>
  <div id="RightNav">
    <button mat-raised-button style="margin: 5px; background-color: orange;"><mat-icon>add_box</mat-icon>ĐĂNG KÝ</button>
    <button mat-raised-button style="margin: 5px; background-color: #009bdf;"><mat-icon>perm_identity</mat-icon>ĐĂNG NHẬP</button>
  </div>
</div>

<div class="content" role="main">
  <h1 style="font-weight: bolder; display: block;">CHỌN KHỐI ĐẠI HỌC</h1>
  <div class="card-container">
    <app-study-group *ngFor="let collegeStudyGroup of (CollegeStudyGroups || [])"
                      [studyGroupInput] = "collegeStudyGroup"></app-study-group>
  </div>      
  <input style="width: 85.5%; padding: 10px; font-size: 20px; font-weight: bolder; text-align: center;" type="text" placeholder="TÌM MÔN HỌC" [matAutocomplete]="auto"/>
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let subjectsuggest of CollegeSubjectSuggestion" [value]="subjectsuggest">
      {{subjectsuggest}}
    </mat-option>
  </mat-autocomplete>
  <div class="card-container">
    <app-college-subject-request *ngFor="let collegeSubject of (CollegeSubjectsRequest || [])"
                                  [CollegeSubject] = "collegeSubject">
    </app-college-subject-request>
  </div>
  <app-pagination></app-pagination>
  <div style="position: fixed; bottom: 10px; left: 0.5%;">
    <button mat-fab style="margin: 5px;">
      <mat-icon>android</mat-icon>
    </button>
    <button mat-fab style="margin: 5px; font-weight: bolder;
                          color: white; background-color: #3b3b3b; text-align: center;">
      IOS
    </button>
  </div>

<router-outlet></router-outlet>